:root {
  /* VERMELHO */
  --primary-color: rgb(255, 255, 255, 0.6);
  --primary-color-dark: rgb(61, 0, 0);
  --primary-color-dark-2: rgb(150, 0, 0);
  --primary-color-light: rgb(255, 0, 0);
  --black: #111111;
  --white: #ffffff;
  --text: #909090;
  --verde: #52a856;
  --vermelho: #ef5350;
  --cafe: #643218;
  --swiper-theme-color: rgb(175, 0, 0) !important;
  --swiper-pagination-bullet-inactive-color: white !important;

  /* ROXO */
  /* --primary-color: #2a2043;
  --primary-color-dark: #080713;
  --primary-color-dark-2: #1d1843;
  --primary-color-light: #6610f2;
  --black: #080713;
  --white: #ffffff;
  --text: #909090;
  --verde: #52a856;
  --vermelho: #ef5350;
  --cafe: #643218;
  --swiper-theme-color: #6610f2 !important; */
}

#projetos {
  padding: 70px 0;
}

#projetos .swiper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  -moz-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-radius: 10px;
}

#projetos .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 450px;
  /* filter: blur(2px); */
  background: var(--primary-color);
  border-radius: 10px;
  margin: 0px 30px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#projetos .swiper-slide-active {
  filter: blur(0);
  background: rgb(255, 255, 255, 0.9);
}

#projetos .swiper-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px 20px;
}

#projetos .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
  -webkit-mask: linear-gradient(
    to top,
    transparent 10%,
    #fff 50% 100%,
    transparent 95%
  );
  -webkit-mask-size: 110% 110%;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: source-in;

  mask: linear-gradient(
    to top,
    transparent 10%,
    #fff 50% 100%,
    transparent 95%
  );
  mask-size: 110% 110%;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-composite: intersect;
}

#projetos .swiper-slide h1 {
  font-size: 15px !important;
  margin: 0 !important;
}

#projetos .swiper-slide p {
  font-size: 14px !important;
}

#projetos .swiper-slide label {
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
}

#projetos .swiper-slide a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  outline: none;
  color: #000;
  background-color: transparent;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  z-index: 99999;
}

#projetos .swiper-slide a:hover {
  border: 2px solid #000;
  cursor: pointer;
}

#projetos .swiper-slide .cup {
  width: 135px;
  height: 110px;
  border-radius: 0 0 70px 70px;
  position: relative;
  background: var(--cafe);
  border: 6px solid var(--black);
  outline: 0;
  overflow: hidden;
}

#projetos .swiper-slide .handle {
  position: absolute;
  width: 30px;
  height: 60px;
  right: 22%;
  top: 33%;
  border-radius: 0 25px 80px 0;
  border: 6px solid var(--black);
}

#projetos .swiper-slide .cup::after {
  content: "";
  position: absolute;
  bottom: -50%;
  /* Center sauare */
  left: -50%;
  /* Center sauare */
  height: 200%;
  width: 200%;
  background-color: var(--black);
  border-radius: 35%;
  /* Smooth edges to appear like liquid */
  animation: fillcup 10s ease-in-out infinite;
}
